.setting{
    display: flex;
}
.settingWrapper{
    flex: 9;
    padding: 30px 100px;
}
.settingTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.updateTitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}
.deleteTitle{
    color: red;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.settingForm{
    display: flex;
    flex-direction: column;

}
.PP{
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.PP > img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 30%;
}
.PPicon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: white;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;

}
.settingForm > label{
    font-size: 20px;
    margin-top: 20px;
}
.settingForm > input{
    margin: 10px 0;
    color: gray;
    height: 30px;
    border: none;
    outline: none;
    /* border-bottom: 1px solid lightgray; */
    box-shadow: 0 2px 4px -2px #000;
    padding: 10px;
    font-size: 16px;
}
.updateBtn{
    border: none;
    outline: none;
    padding: 7px 25px;
    width: fit-content;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: teal;
    border-radius: 10px;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
}